body {
  background-color: #e4d6e7;
  margin: 0;
  padding: 0;
}

/*SECCIONES*/
.section {
  display: none;
}

/*TIPOGRAFÍAS*/
@font-face {
  font-family: 'lofi';
  src: url(./fonts/lofi_lifestyle/lofi.ttf) format('truetype');
}

@font-face {
  font-family: 'royalvoguetypewriter';
  src: url(./fonts/royalvoguetypewriter.ttf) format('truetype');
}

@font-face {
  font-family: 'coolvetica rg';
  src: url(./fonts/coolvetica\ rg.otf) format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/*NAVBAR*/
nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: white;
  font-family: 'lofi';
  font-size: 25px;
  width: 100%;
}

/*Texto navbar*/
#links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

#links-container a {
  color: black;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

#links-container a:hover {
  color: #d7bedd;
}

#links-container a:hover::after {
  content: none;
}

#links-container a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d7bedd;
}

/*Logos navbar*/
#left-logo,
#right-logo {
  padding: 0px 0px;
  height: 70px;
}

a:link {
  text-decoration: none;
}

/*SECCIÓN INICAL: LOFT*/
.image-playercontainer {
  display: flex;
  justify-content: center;
}

#girl1 {
  margin-top: -10px;
  height: 500px;
  max-width: 63%;
}

/*Music Player*/
.player {
  height: 95vh;
  transform: scale(0.65);
  transform-origin: center;
  margin-top: -20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'coolvetica rg';
}

.wrapper {
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  background-color: #f3f3f3;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
  margin-top: -10px;
}

.track-artist {
  margin-top: -3px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.active {
  color: rgb(0, 0, 0);
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #cca5d4;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #cca5d4;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

.randomActive {
  color: black;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {
  50% {
    height: 20%;
    background: #cca5d4;
  }

  100% {
    background: #cca5d4;
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}

/*SECCIÓN 3: POEMAS*/
#titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#title1 {
  margin-top: 40px;
  font-family: 'lofi';
  font-size: 50px;
  color: #c292ce;
}

#p1 {
  margin-top: 5px;
  font-family: 'royalvoguetypewriter';
  font-size: 15px;
  color: #000000;
}

.title2 {
  margin-top: 50px;
  font-family: 'lofi';
  font-size: 40px;
  color: #c292ce;
  border: 2px solid #c292ce;
  padding: 10px;
  display: inline-block;
}

#titles2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#poem-container {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'royalvoguetypewriter';
  font-size: 12px;
}

#poem1,
#poem2,
#poem3 {
  width: 25%;
}

#poem-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-family: 'royalvoguetypewriter';
  font-size: 12px;
}

#poem4 {
  text-align: center;
  margin: 0 auto;
  max-width: 70%;
  font-family: 'royalvoguetypewriter';
  line-height: 1.6;
  padding: 20px;

}

/*SECCIÓN 2: GALERÍA*/
.gallery {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

#galleryimg {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;

}

#galleryimg img {
  max-height: 300px;
  padding: 5px;
}

#galleryimg2 {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}

#galleryimg2 img {
  max-height: 420px;
  padding: 5px;
}

#galleryimg3 {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}

#galleryimg3 img {
  max-height: 285px;
  padding: 5px;
}

#title3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'lofi';
  font-size: 40px;
  color: #c292ce;
  border: 2px solid #c292ce;
  padding: 10px;
  font-weight: lighter;
}

#title4 {
  font-family: 'royalvoguetypewriter';
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
}

#title5 {
  font-family: 'royalvoguetypewriter';
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
}

#title6 {
  font-family: 'royalvoguetypewriter';
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
}

/*SECCIÓN 4: MÚSICA*/
#music {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

/*Carrusel de imágenes*/
.slideshow-container {
  margin-top: 20px;
  max-width: 400px;
  position: relative;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(219, 156, 219, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  font-family: 'coolvetica rg';
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-family: 'coolvetica rg';
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #9b6c93;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #6b345b;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*Formulario*/
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  max-width: 60%;
  width: 100%;
  padding: 4vw;
  background-color: #b48ab2;
  border-radius: 10px;
  margin: 0 auto;
}

.selectedforms input {
  padding: 1.5vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5vw;
  width: 100%;
}

#titulo {
  margin-top: 50px;
  font-family: 'lofi';
  font-size: 40px;
  color: #fde9fd;
  border: 2px solid #f1d1f1;
  padding: 10px;
  display: inline-block;
}

#form-content {
  margin-top: 20px;
  font-family: 'royalvoguetypewriter';
  color: #ffffff;
}

#myfile {
  display: inline-block;
  background-color: #ffffff;
  color: rgb(250, 248, 248);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.decorated {
  font-family: 'lofi';
  font-size: 35px;
}

#recommendation {
  padding: 1.5vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5vw;
  width: 100%;
}